#geoMap-div {
    height: 60vh;
}

#tooltip-div {
    position: fixed;
    display: none;
    padding: 12px 6px;
    background: #fff;
    border: 1px solid #333;
    pointer-events: none;
}

#map-controlPanel-div, #timestamp-display-div {
    padding-top: 5px;
    padding-left: 20px;
}

#map-controlPanel-div > .row {
    /* padding: top right bottom left; */
    padding: 0% 0% 7% 0%;
}

.download-button {
    cursor: pointer;
}

#timeSlider-div {
    text-align: left;
    padding-top: 15px; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

#distribution-div, #hydrographSV-div, #hydrographInf-div {
    height: 30vh;
}