#geoMap-div {
    position: relative;
    top: 0;
    left: 0;
    height: 60vh;
}

#tooltip-div {
    position: fixed;
    display: none;
    padding: 12px 6px;
    background: #fff;
    border: 1px solid #333;
    pointer-events: none;
  }