#geoMap-div {
    position: relative;
    top: 0;
    left: 0;
    height: 60vh;
}

#tooltip-div {
    position: fixed;
    display: none;
    padding: 12px 6px;
    background: #fff;
    border: 1px solid #333;
    pointer-events: none;
  }

.encodingLabel {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    /* width: 400px;
    line-height: 26px;
    margin-bottom: 10px; */
}
  
.encodingDropdown {
    /* height: 20px;
    flex: 0 0 200px; */
    margin-left: 10px;
}

#timeSlider-div {
    text-align: left;
    padding-top: 15px; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

#timeSlider-div :first-child {
    width: 250px;
}

#distribution-div {
    height: 30vh;
}