#geoMap-div {
    position: relative;
    top: 0;
    left: 0;
    height: 60vh;
    padding-top: 5px;
}

#tooltip-div {
    position: fixed;
    display: none;
    padding: 12px 6px;
    background: #fff;
    border: 1px solid #333;
    pointer-events: none;
}

#map-controlPanel-div {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 5px;
}

#map-controlPanel-div > .row {
    /* padding: top right bottom left; */
    padding: 5% 0% 5% 0%;
}


#timeSlider-div {
    text-align: left;
    padding-top: 15px; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

#timeSlider-div :first-child {
    width: 250px;
}

#distribution-div {
    height: 30vh;
}